<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product {
        display: flex;
        flex-direction: column;
    }

    .product_img {
        width: 300px;
        height: 400px;
    }

    .details {
        font-size: 15px;
    }

    thead {
        font-size: 20px;
    }

    th {
        width: 300px;
        height: 40px;
        padding-bottom: 10px;
        border: 1px solid black;
        position: sticky;
        top: 99px;
        background-color: white;
    }

    td {
        width: 300px;
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
        height: 40px;
    }

    img {
        height: 300px;
        width: 300px;
    }


    table {
        padding-top: 10px;
    }

    .top-div {
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        position: fixed;
        top: 20px;
    }

    a {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        width: 200px;
        height: 16px;
        padding-bottom: 20px;
    }

    span {
        font-size: 30px;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        background-color: black;
        margin-left: 10px;
    }

    span:hover {
        cursor: pointer;
    }
</style>

<body>
    <h1 style="text-align: center;">Sold Products</h1>
    <div class="top-div">
        <a href="all"> Home </a>
    </div>
    <table id="tablee">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Quantity</th>
                <th>Sale Price</th>
                <th>Purchase Price</th>
                <th>Product Image</th>
            </tr>
        </thead>
        <tbody id="table_body">

        </tbody>
    </table>

    <div id="nav"></div>

    <script>
        fetch("http://localhost:8080/soldProducts", {
            method: 'get',
            headers: { authorization: `Bearer ${JSON.parse(localStorage.getItem('data'))}` }
        })
            .then(response => {
                if (response.status === 200) {
                    return (response.json()).then(data => {
                        if (data.length) {
                            const nav = document.getElementById('nav');
                            const content = document.getElementById('table_body');
                            nav.style.marginTop = "55rem"
                            nav.style.position = "fixed"

                            let pageIndex = 0; // Page index initialized at 0
                            let itemsPerPage = 2; // Sets items on each page
                            loadItems()
                            function loadItems() {
                                content.innerHTML = "";
                                for (let i = pageIndex * itemsPerPage; i < (pageIndex * itemsPerPage) + itemsPerPage; i++) {
                                    if (!data[i]) { break }
                                    const item = document.createElement('tr');
                                    item.innerHTML =
                                        data[i].total_quantity < 10 ? `<td style = "color:red;">${data[i].product_code}</td>
                    <td style = "color:red;">${data[i].product_name} </td>
                    <td style = "color:red;">${data[i].total_quantity}</td>
                    <td style = "color:red;">${data[i].sale_price} $</td>
                    <td style = "color:red;">${data[i].purchase_price} $</td>
                    <td> <img src=http://localhost:8080/Images/${data[i].product_image}> </img> </td>` :
                                            `<td>${data[i].product_code}</td>
                    <td>${data[i].product_name} </td>
                    <td>${data[i].total_quantity}</td>
                    <td>${data[i].sale_price} $</td>
                    <td>${data[i].purchase_price} $</td>
                    <td> <img src=http://localhost:8080/Images/${data[i].product_image}> </img> </td>`

                                        ;
                                    content.append(item);
                                }
                                loadPageNav()
                            }


                            function loadPageNav() {
                                nav.innerHTML = "";
                                for (let i = 0; i < (data.length / itemsPerPage); i++) {

                                    const span = document.createElement('span');
                                    span.innerHTML = i + 1;
                                    span.addEventListener('click', (e) => {
                                        pageIndex = e.target.innerHTML - 1;
                                        loadItems();
                                    });
                                    if (i === pageIndex) {
                                        span.style.fontSize = "2.5rem";
                                    }
                                    nav.append(span);
                                }
                            }
                        } else {
                            document.getElementById('tablee').innerHTML = `<h2> No Products Found </h2>`
                        }
                    })
                        .catch(error => {
                            console.error(error);
                        });
                } else {
                    alert('Only admin see this details');
                    window.location.href = '/all'
                }

            })



    </script>
</body>

</html>